[submodule "lisp/color-rg"]
	path = lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "lisp/fussy"]
	path = lisp/fussy
	url = https://github.com/jojojames/fussy.git
[submodule "lisp/flx"]
	path = lisp/flx
	url = https://github.com/lewang/flx.git
[submodule "lisp/flx-rs"]
	path = lisp/flx-rs
	url = https://github.com/jcs-elpa/flx-rs.git
[submodule "lisp/citre"]
	path = lisp/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "lisp/diminish.el"]
	path = lisp/diminish.el
	url = https://github.com/myrjola/diminish.el.git
[submodule "lisp/markmacro"]
	path = lisp/markmacro
	url = https://github.com/manateelazycat/markmacro.git
[submodule "lisp/consult"]
	path = lisp/consult
	url = https://github.com/minad/consult
[submodule "lisp/corfu"]
	path = lisp/corfu
	url = https://github.com/minad/corfu.git
[submodule "lisp/vertico"]
	path = lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "lisp/symbol-overlay"]
	path = lisp/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/projectile"]
	path = lisp/projectile
	url = https://github.com/bbatsov/projectile.git
