.bash_history
GTD
.gimp-2.6
.gem
.gegl-0.0
.bash_profile
.bashrc
.conkerorrc
.gitconfig
.history
.inputrc
.notes
.profile
.recentf
.recently-used.xbel
bak.emacs
ediff.el
.gitk
.emacs.d/tmp
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/server
.emacs.d/tramp
.emacs.d/eshell/
.emacs.d/lib/unused
.emacs.d/lib/geiser-0.3
.emacs.d/lib/games
.emacs.d/windows-nt/config/unused
.emacs.d/windows-nt/plugin/unused
.emacs.d/elpa
.emacs.d/bookmarks
.emacs.d/.org-id-locations
.emacs.d/config/asktao-qa.el
simplified
traditional
mplayer
_viminfo
.geiser_history.racket
.thumbnails/
javacp/
_vimperatorrc
vimperator
.emacs.d/config/unused/sematic-conf.el
.hilfe_history
.emacs.d/ede-projects.el