.bash_history
GTD
.gimp-2.6
.gem
.gegl-0.0
.bash_profile
.bashrc
.conkerorrc
.gitconfig
.history
.inputrc
.notes
.profile
.recentf
.recently-used.xbel
bak.emacs
ediff.el
.gitk
.emacs.d/tmp
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/server
.emacs.d/tramp
.emacs.d/lib/unloaded
.emacs.d/lib/geiser-0.3
.emacs.d/lib/games
.emacs.d/elpa
simplified
traditional
mplayer
_viminfo
.geiser_history.racket
